// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$main-brown: #844F20;
$alternate-brown: #BA721F;
$dark-brown: #2E2412;
$dark-green: #0C671D;
$dark-red: #982015;
