<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://senchateabar.com/cdn/shop/articles/5dbded4d4f61484499c9fb2e_5bc436e95b2ebf75e3531001_pexels-photo-327136_2048x.jpeg?v=1596728276);">
  <div class="container">
    <h1>Have a break. <strong>Have a teapot.</strong></h1>
    <p>Your teapot, your style.</p>
    <%= link_to "Browse our finest selection", teapots_path, class:"btn btn-flat" %>
  </div>
</div>
