.teapot-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.teapot-container {
  position: relative;
}

.teapot-delete {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.2rem;
}

.teapot-edit {
  position: absolute;
  bottom: 20px;
  right: 20px;
  font-size: 1.2rem;
}

.teapot-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.teapot-text {
  color: #2E2412;
  text-decoration: none;
}
