.teapot-img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.teapot-container {
  position: relative;
  margin-bottom: 20px;
}

.teapot-delete {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.2rem;
}

.teapot-edit {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 1.2rem;
}

.teapot-text {
  color: #2E2412;
  text-decoration: none;
}

.card-content {
  min-height: 150px;
}
